In [1]:
import pandas as pd

In [2]:
bb2021 = pd.read_csv('../data/bb21.csv')
bb2021.head()

,Unnamed: 0,rank,artist,title,date
0,0,1,Mariah Carey,All I Want For Christmas Is You,2021-01-02
1,1,2,Brenda Lee,Rockin' Around The Christmas Tree,2021-01-02
2,2,3,Bobby Helms,Jingle Bell Rock,2021-01-02
3,3,4,Burl Ives,A Holly Jolly Christmas,2021-01-02
4,4,5,Andy Williams,It's The Most Wonderful Time Of The Year,2021-01-02

In [3]:
bb2021 = bb2021[['rank', 'artist', 'title', 'date']]
bb2021.head()

   rank         artist                                     title        date
0     1   Mariah Carey           All I Want For Christmas Is You  2021-01-02
1     2     Brenda Lee         Rockin' Around The Christmas Tree  2021-01-02
2     3    Bobby Helms                          Jingle Bell Rock  2021-01-02
3     4      Burl Ives                   A Holly Jolly Christmas  2021-01-02
4     5  Andy Williams  It's The Most Wonderful Time Of The Year  2021-01-02

In [4]:
bb2021['hitTF'] = 1
bb2021.head()

,rank,artist,title,date,hitTF
0,1,Mariah Carey,All I Want For Christmas Is You,2021-01-02,1
1,2,Brenda Lee,Rockin' Around The Christmas Tree,2021-01-02,1
2,3,Bobby Helms,Jingle Bell Rock,2021-01-02,1
3,4,Burl Ives,A Holly Jolly Christmas,2021-01-02,1
4,5,Andy Williams,It's The Most Wonderful Time Of The Year,2021-01-02,1

In [5]:
bb2021.to_csv('../data/bb21.csv', index=False)