In [13]:
# imports
import pandas as pd

In [14]:
# reading in csvs
bb2021 = pd.read_csv('../data/bb21.csv')
bbTo20 = pd.read_csv('../data/bb2020relCols.csv')
tracks = pd.read_csv('../data/tracks_cleanedAbbrev.csv')

In [15]:
# showing csvs as dfs
bb2021.head()

,rank,artist,title,date,hitTF
0,1,Mariah Carey,All I Want For Christmas Is You,2021-01-02,1
1,2,Brenda Lee,Rockin' Around The Christmas Tree,2021-01-02,1
2,3,Bobby Helms,Jingle Bell Rock,2021-01-02,1
3,4,Burl Ives,A Holly Jolly Christmas,2021-01-02,1
4,5,Andy Williams,It's The Most Wonderful Time Of The Year,2021-01-02,1

In [16]:
# showing csvs as dfs
bbTo20.head()

,song,performer,date,chart_position,hitTF
0,Dance Monkey,Tones And I,2019-12-07,11,1
1,Pray For Me,The Weeknd & Kendrick Lamar,2018-04-07,12,1
2,Into The Unknown,Idina Menzel & AURORA,2019-12-07,55,1
3,Mine,Bazzi,2018-02-03,56,1
4,Indica Badu,Logic Featuring Wiz Khalifa,2018-03-24,56,1

In [17]:
# showing csvs as dfs
tracks.head()

,name,popularity,duration_ms,explicit,artists,release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,hitTF
0,A Lover's Concerto,41,159560,0,The Toys,3/13/2020,0.671,0.867,2,-2.706,1,0.0571,0.436,0.000000,0.1390,0.839,120.689,4,0
1,The September Of My Years - Live At The Sands ...,26,187333,0,Frank Sinatra,5/4/2018,0.319,0.201,7,-17.796,1,0.0623,0.887,0.000000,0.9040,0.239,117.153,3,0
2,It Was A Very Good Year - Live At The Sands Ho...,25,236800,0,Frank Sinatra,5/4/2018,0.269,0.129,7,-18.168,0,0.0576,0.938,0.000005,0.6830,0.160,82.332,3,0
3,"The Circle Game - Live at The 2nd Fret, Philad...",18,313093,0,Joni Mitchell,10/30/2020,0.644,0.212,11,-14.118,1,0.0347,0.881,0.000022,0.7980,0.441,117.072,3,0
4,"Urge For Going - Live at The 2nd Fret, Philade...",18,295093,0,Joni Mitchell,10/30/2020,0.627,0.184,1,-15.533,1,0.0450,0.955,0.000162,0.0986,0.299,115.864,4,0

In [19]:
tracks.shape

(121426, 19)

In [ ]:
# ! at this stage, could add the spotify ids, song attribute cols to the different dfs

In [8]:
# joining the bb dfs
# ! would have to include the spotify id and song attribute cols to these
# making the col names the same
bbTo20.columns = ['title', 'artist', 'date', 'rank', 'hitTF']
# col order
bbTo20 = bbTo20[['rank', 'artist', 'title', 'date', 'hitTF']]
bbTo20.head()

   rank                       artist             title        date  hitTF
0    11                  Tones And I      Dance Monkey  2019-12-07      1
1    12  The Weeknd & Kendrick Lamar       Pray For Me  2018-04-07      1
2    55        Idina Menzel & AURORA  Into The Unknown  2019-12-07      1
3    56                        Bazzi              Mine  2018-02-03      1
4    56  Logic Featuring Wiz Khalifa       Indica Badu  2018-03-24      1

In [11]:
# concatting the two bb dfs
allbbs = pd.concat([bbTo20, bb2021]).reset_index(drop=True)
allbbs.head()

   rank                       artist             title        date  hitTF
0    11                  Tones And I      Dance Monkey  2019-12-07      1
1    12  The Weeknd & Kendrick Lamar       Pray For Me  2018-04-07      1
2    55        Idina Menzel & AURORA  Into The Unknown  2019-12-07      1
3    56                        Bazzi              Mine  2018-02-03      1
4    56  Logic Featuring Wiz Khalifa       Indica Badu  2018-03-24      1

In [ ]:
# code in progress: using currently theoretical cols in the dfs
# make sure that the spotify ID col is correctly named here
hitIDs = allbbs['spotifID'] 
updatedhitTF = []
for x in range(0, len(tracks)):
#     this is assuming that the spotifID col is the rightmost (as of right now) one in the df, ie with index 19
    if tracks.iloc[x, 19] in hitIDs:
        updatedhitTF.append[1]
    else:
        updatedhitTF.append(0)

tracks['hitTF'] = updatedhitTF
tracks.head()

In [ ]:
# doing the outer join
# remember to use the proper spotify id col name
all_tracks_dataset = pd.merge(allbbs, tracks, on='spotifID', how='outer')
# the non-hit ones would be lacking values in 'date' and 'chart_position' cols
# for the former, the nonsense date 1/1/1900 can be used
# for the later, 0s can be used
all_tracks_dataset = all_tracks_dataset.fillna({'date': 1/1/1900, 'chart_position': 0})
all_tracks_dataset.head()